{{ define "main" }}
{{ $pages := where .Pages "Params.url" "==" nil }}
<article class="list">
  <header class="list-header">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </header>
  <ul class="post-list">
    {{ range $pages }}
    <li>
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      <span class="list-body">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .Params.tags }}<span class="tags">{{ range . }}<span>#{{ . }}</span>{{ end }}</span>{{ end }}
      </span>
    </li>
    {{ else }}
    <li><span class="meta">还没有文章。</span></li>
    {{ end }}
  </ul>
</article>
{{ end }}
