<nav>
  <ul>
    {{- range site.Menus.nav }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{- end }} {{- $current := . }} {{- range site.Sites }} {{- $alt := . }} {{-
    $href := $alt.Home.RelPermalink }} {{- range $current.AllTranslations }} {{-
    if eq .Lang $alt.Language.Lang }}{{ $href = .RelPermalink }}{{ end }} {{-
    end }}
    <li>
      {{- if eq $alt.Language.Lang $current.Lang -}}
      <span>{{ $alt.Language.Label }}</span>
      {{- else -}}
      <a href="{{ $href }}">{{ $alt.Language.Label }}</a>
      {{- end -}}
    </li>
    {{- end }}
  </ul>
</nav>
